* {
    font-family: system-ui, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    background-color:rgba(0, 0, 0, 0.8);
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 44px;
    align-items: center;
    
}


header ul li a{
    display: block;
    padding: 15px 0px;
    color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

/* List CSS */

.list {
    height:116px;
    padding: 0% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 10px;
    text-align: center;
    background-color: #FBFBFD;;
    
}

.list p{
    color:#1D1D1F;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.12px;
}

.list img {
    /* width: 40px; */
    height: 54px;
    flex-shrink: 0;
    /* align-self: auto; */
}

.list .new {
    color: #BF4800;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.08px;
    
}

/* Hero Section starts here */

.hero {
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin: 5% 10% 1% 10%;
}

.hero p {
    color: #1D1D1F;
    text-align: center;
    /* font-size: 1rem; */
    font-style: normal;

    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.new2 {
    color: #6E6E73;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: -0.374px;


}

.iPhone_14{
    font-size: 1.3rem;
    font-weight: 600;
}

.hero-headline {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;

    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-bottom: 3rem;
}

.buy-btn {
    /* display: flex; */
    width: 61.203px;
    height: 36px;
    padding: 8px 15.6px 8px 16px;
    border-style: none;

    color: white;
    border-radius: 980px;
    background: #0071E3;
}

.learn-more {
    color: #06C;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}


.regular-text-white {
    color: white;
}

button:hover {
    cursor: pointer;
}


